@charset "UTF-8";
body{
    background-image: linear-gradient(90deg, purple 20%, blue, darkblue);
    min-width: 320;
    background-attachment: fixed;
    background-size: cover;
}
main {
    text-align: center;
    position: relative;
}
header {
    background-image: linear-gradient(180deg, rgb(162, 6, 235) 20%, rgba(59, 0, 136, 0.555));
    margin: -8px;
    padding: 20px;
    box-shadow: 1px 1px 3px rgb(47, 0, 78);
}
h1 {
    color: yellow;
    text-align: center;
    text-shadow: 3px 3px 10px yellow;
}
h2 {
    color: white;
    padding: 10px;
}
p {
    color: white;
}
a {
    color: yellow;
    text-shadow: 3px 3px 10px yellow;
    text-decoration: none;
}
#linkscabeçalho {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 5px yellow;
    font-size: 1.2em;
    padding: 10px;
    transition-duration: 0.3s;
}
#linkscabeçalho:hover {
    color: orange;
    text-shadow: 3px 3px 5px orange;
    transition-duration: 0.3s;
}
img {
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
    display: block;
    width: 40%;
}
li {
    list-style: none;
    padding: 10px;
}
table {
    margin: auto;
}
td {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 15em;
    height: 50px;
}
.mario {
    color: red;
    text-shadow: 5px 5px 5px red;
}
.messildo {
    color: rgb(0, 174, 255);
    text-shadow: 5px 5px 5px rgb(0, 174, 255);
}
.peach {
    color: rgb(255, 0, 140);
    text-shadow: 5px 5px 5px rgb(255, 0, 140);
}
.brasil {
    background-image: radial-gradient(blue, yellow, darkgreen);
}
.senegal {
    background-image: linear-gradient(90deg, green, yellow, red);
    color: black;
}
.franca {
    background-image: linear-gradient(90deg, darkblue, white, red);
    color: black;
}
.portugal {
    background-image: linear-gradient(90deg, green, red);
}
.camaroes {
    background-image: linear-gradient(90deg, darkgreen, red, yellow);
}
.espanha {
    background-image: linear-gradient(180deg, red, yellow, red);
    color: black;
}
.uruguai {
    background-image: linear-gradient(180deg, rgb(0, 110, 255), white, rgb(0, 110, 255));
    color: black;
}
.alemanha {
    background-image: linear-gradient(180deg, black, red, yellow);
}
.manualdomundo {
    color: blue;
    text-shadow: 3px 3px 5px yellow;
    transition-duration: 0.3s;
    text-decoration: none;
}
.manualdomundo:hover {
    color: rgb(49, 0, 128);
    text-shadow: 3px 3px 5px rgb(49, 0, 128);
    transition-duration: 0.3s;
}
.segundosite {
    transition-duration: 0.3s;
}
.segundosite:hover {
    color: orangered;
    text-shadow: 3px 3px 5px orangered;
    transition-duration: 0.3s;
}
.interesse {
    width: 60%;
    margin: auto;
}
.tamanhomessi {
    width: 35%;
}
.youtube {
    color: red;
    text-shadow: 3px 3px 5px red;
    transition-duration: 0.3s;
}
.youtube:hover{
    color: darkred;
    text-shadow: 3px 3px 5px darkred;
    transition-duration: 0.3s;
}
.dormindo {
    display: block;
    width: 15%;
    margin: auto;
}
.android {
    color: rgb(0, 255, 34);
    text-shadow: 3px 3px 5px rgb(0, 255, 34);
}
.projetoandroid {
    color: rgb(0, 255, 34);
    transition-duration: 0.3s;
}
.projetoandroid:hover {
    color: rgb(0, 153, 0);
    border: 5px;
    border-radius: 5px;
    transition-duration: 0.3s;
}
#sem-decoração {
    border-radius: 0px;
    box-shadow: 0px 0px 0px white;    
}
#caifora {
    color: red;
    text-shadow: 1.5px 1.5px 3px red;
    background-color: rgba(255, 255, 255, 0.788);
    display: inline-block;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.753);
}
footer {
    background-color: rgb(0, 78, 0);
    margin: auto;
    margin: -8px;
    margin-top: 15px;
    text-align: center;
    padding: 0.1px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, rgb(35, 255, 35 ), rgb(1, 53, 1));
}
a#joao:hover {
    text-decoration: underline;
}